<div class="container"  style="text-align:right; width:128%;background-color:rgba(165, 42, 42, 0.815);">
  <div class="row" style="background-color:rgba(165, 42, 42, 0.205);">
    <div class="col-md-12">
    <a href="#"><b>Products for Business</b></a>
      &nbsp;&nbsp;<a href="#"><b>We are hiring</b></a>
  </div>
</div>
<br>
    <div class="row">
    <div class="col-md-4">
        <p style="text-align:left"><img src="assets/zomato_logo_2017.png" style="width:18%;"/></p>
    </div>
    <div class="col-md-8">
        <p><a class="btn btn-danger" href="#">Log in</a>&nbsp;&nbsp;<a class="btn btn-danger" href="#">Create an account</a></p>
  </div>
</div>