<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">  <a href="#">
          <img src="assets/get-the-app-plain.svg" style="width:26%;"/>
          <span>Get the App</span>
      </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <img src="assets/order-online.svg" style="width:20%;"/>
          <span>Order Food</span>
      </a></li>
      <li><a href="#">
        <img src="assets/book-a-table.svg" style="width:20%;"/>
        <span>Book a Table</span>
    </a></li>
    <li><a href="#">
      <img src="assets/header_gold_icon.svg" style="width:20%;"/>
      <span>Zomato Gold</span>
      <img src="assets/header_gold_new_tag.svg" style="width:20%;"/>
  </a></li>
      </ul>
    </div>
  </div>
</nav>
<p style="text-align:left; color: grey;">Home&nbsp;&gt;&nbsp;India&nbsp;&gt;&nbsp;Bengaluru resturants</p>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order food online in Bengaluru</h1>