  <div class="col-md-6">
    <div class="thumbnail">
      <img src="assets/a2.jpg" alt="food1">
      <div class="caption">
        <h3>Udupi Grand</h3>
        <p>North Indian, South Indian, Chinese&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;Cost ₹80 for one&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Min ₹0<span> &middot; </span> Up to 30 min&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;Accepts online payments only</p>
        <p><a href="#" class="btn btn-success" role="button">Order Online &gt;&gt;</a></p>
      </div>
    </div>
  </div>