<h3>Filters</h3>
<div class="well">
  <form>
    <div class="form-group">
        <input type="checkbox">&nbsp;
      <label class="control-label">Zomato gold partner</label>
    </div>
    <div class="form-group">
      <label class="control-label"><h3>Quick filters</h3></label>
      <ul>
      <input type="checkbox">&nbsp;
      <label class="control-label">Promotions</label><br>
       <input type="checkbox">&nbsp;
      <label class="control-label">Pure Veg</label><br>
      <input type="checkbox">&nbsp;
      <label class="control-label">Free delivery</label><br>
      <input type="checkbox">&nbsp;
      <label class="control-label">Online Payment</label>
    </ul>
    </div>
  </form>
  <label class="control-label"><h3>Cuisine</h3></label>
  <pre style="border:white;text-align:left;">
    North indian        2342
    Chinese             234
    Fast food           342
    Biriyani            232
    South indian        2342
    Desserts            22
    Beverages           242
    Cafe                2342
    Pizza               242
    Continental         232
</pre>
  <br>
  <br>
  <label class="control-label"><h3>Delivery time</h3></label>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upto 30 minutes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;232</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upto 45 minutes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;234</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upto 60 minutes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;342</p>
</div>
